/* The code below is used for the teal overlay present with the namePlayersContainer at the start of the game. */

.teal-overlay-name-players-container-on-load {
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2ad2c5;
    opacity: 0%;
}

.teal-overlay-name-players-container-visible {
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2ad2c5;
    opacity: 60%;
    animation: tealOverlayNamePlayersContainerVisibility 1s;
}

@keyframes tealOverlayNamePlayersContainerVisibility {
    0% {top: 0px; opacity: 0%}
    40% {top: 0px; opacity: 60%}
    100% {top: 0px; opacity: 60%}
}

.teal-overlay-name-players-container-invisible {
    top: -730px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2ad2c5;
    opacity: 0%;
    animation: tealOverlayNamePlayersContainerInvisibility 1s;
}

@keyframes tealOverlayNamePlayersContainerInvisibility {
    0% {top: 0px; opacity: 60%}
    40% {top: 0px; opacity: 0%}
    100% {top: 0px; opacity: 0%}
}

/* The code below is used for the teal overlay that appears at the start of the game when shuffling and finding out who
will go first. */

.teal-overlay-who-goes-first-visible {
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2ad2c5;
    opacity: 60%;
    animation: whoGoesFirstVisibility 4.5s;
}

@keyframes whoGoesFirstVisibility {
    0% {top: -730px; opacity: 0%}
    5% {top: 0px; opacity: 0%}
    15% {top: 0px; opacity: 60%}
    85% {top: 0px; opacity: 60%}
    95% {top: 0px; opacity: 0%}
    100% {top: -730px; opacity: 0%}
}

.teal-overlay-who-goes-first-invisible {
    top: -730px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2ad2c5;
    opacity: 0%;
}
