.two-choices-button {
    position: relative;
    width: 140px;
    height: 65px;
    background-color: #2ad2c5;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
