.name-players-container-on-load {
    position: absolute;
    top: 170px;
    left: 350px;
    width: 550px;
    height: 370px;
    background-color: #004489;
    border-radius: 10px;
    opacity: 0%;
}

.name-players-container-invisible {
    position: absolute;
    top: -730px;
    left: 350px;
    width: 550px;
    height: 370px;
    background-color: #004489;
    border-radius: 10px;
    opacity: 0%;
    animation: namePlayersContainerInvisibility 0.5s;
}

@keyframes namePlayersContainerInvisibility {
    0% {top: 170px; opacity: 100%}
    40% {top: 170px; opacity: 0%}
    100% {top: -730px; opacity: 0%}
}


.name-players-container-visible {
    position: absolute;
    top: 170px;
    left: 350px;
    width: 550px;
    height: 370px;
    background-color: #004489;
    border-radius: 10px;
    opacity: 100%;
    animation: namePlayersContainerVisibility 0.5s;
}

@keyframes namePlayersContainerVisibility {
    0% {top: -730px; opacity: 0%}
    40% {top: 170px; opacity: 0%;}
    100% {top: 170px; opacity: 100%}
}